<!DOCTYPE html>
<html>
<head>
  <title>FaqI18n</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Frequently Asked Questions', root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= 'Language ' + cookies[:faq_locale] %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to 'English', change_locale_path(:en) %>
          </li>
          <li>
            <%= link_to 'Spanish', change_locale_path(:es) %>
          </li>
          <li>
            <%= link_to 'German', change_locale_path(:de) %>
          </li>
          <li>
            <%= link_to 'Russian', change_locale_path(:ru) %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>

  <div class="page-header">
    <h1><%= yield :page_header %></h1>
  </div>

  <%= yield %>
</div>
</body>
</html>
